* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-primary: #000000;
    --text-color-secondary: #00000033;

    --font-family: "Poppins", serif;
    --text-lg: 600 2rem/1.5 var(--font-family);
    --text-md: 400 1rem/1.25 var(--font-family);
    --text-sm: 400 0.75rem/1.25 var(--font-family);
}

body {
    font: var(--text-md);
    color: var(--text-color-primary);
    background-color: #F8F9FA;
}

.container {
    gap: 1rem
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

@media (width <= 28em) {
    body {
        font: var(--text-sm);
    }
}