main {
    margin-top: 5rem;
    border-radius: 0.5rem;
}

.container {
    align-self: center;
    margin-top: 1.5rem;
    margin-inline: auto;
    max-width: 35rem;

    & div:nth-child(2) {
        gap: 4rem;
    }
}

#result-container {
    font-weight: 800;
}

#note-container {
    font-size: 0.75rem;
}

@media (width <= 28em) {
    .container {
        margin-inline: 3rem;

        & div:nth-child(2) {
            gap: 1.5rem;
        }
    }

    #note-container {
        font-size: 0.625rem;
    }
}